h1{
    background-color: black;
    color: white;
}
.cloud{
    color: aqua;
}

h2{
    background-color: rebeccapurple;
    text-align: center;
    color: white;
}

h3{
    background-color: rgb(159, 188, 241);
    text-align: right;
}